<div class="page-header" style="background-image: url('../assets/img/fabio-mangione.jpg');">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>Aledan</h1>
      <h3>Here goes the upload and vector and charts</h3>
      <br />
      <app-file-upload></app-file-upload>
           <button class="btn btn-outline-neutral btn-round" (click)="getFaultMatrix()"></button>
    </div>
  </div>
</div>

<!--<ngb-alert [type]="alert.type"  [dismissible]="false">-->
  <!--<div class="container">-->
    <!--<ng-container *ngIf="alert.icon">-->
      <!--<i class="nc-icon {{alert.icon}}"></i>-->
    <!--</ng-container>-->

    <!--{{ alert.message }}-->
    <!--<button type="button" name="button" class="close" (click)="closeAlert(alert)">-->
      <!--<i class="nc-icon nc-simple-remove"></i>-->
    <!--</button>-->
  <!--</div>-->
<!--</ngb-alert>-->