<div class="page-header" style="background-image: url('../assets/img/435296.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">

            <div *ngIf="!selectedMetric" class="metric-buttons">
                <h3>Please select the metric: </h3>

                <button *ngIf="true" class="btn btn-outline-neutral" (click)="selectMetric('apbc')">
                    APBC - Average Percentage Branch Coverage
                </button>
                <button *ngIf="true" class="btn btn-outline-neutral" (click)="selectMetric('apfd')">
                    APFD - Average Percentage Faults Detection
                </button>
                <button *ngIf="true" class="btn btn-outline-neutral" (click)="selectMetric('apsc')">
                    APSC - Average Percentage Statement Coverage
                </button>
            </div>

            <div *ngIf="selectedMetric">
                <h3 *ngIf="!fileUploaded">Please select and upload the data file!</h3>
                <br />
                <app-file-upload (fileUploaded)="setFileUploaded($event)"></app-file-upload>
            </div>

            <div class="btn btn-outline-neutral" *ngIf="selectedMetric" (click)="selectedMetric = null; fileUploaded = null" id="back-button">
                Back
            </div>

            <br/>
            <div *ngIf="fileUploaded" class="buttons">
            <!--<div class="buttons" (click)="onButtonGroupClick($event)">-->
                <button [class.active]="showFullMatrixContentTab" (click)="getFaultMatrix()">Fault matrix details</button>
                <button [class.active]="showBestIndividualContentTab" (click)="getBestIndividual()">Best solution</button>
                <button [class.active]="showBestThreeIndividualsContentTab" (click)="getBestThreeIndividuals()">Top three solutions</button>
                <button [class.active]="showAPFDForInputVectorContentTab" (click)="initAPFDForInputVectorTab()"  *ngIf="selectedMetric == 'apfd'">Calculate APFD for your prioritization</button>
                <button [class.active]="showAPFDForInputVectorContentTab" (click)="initAPFDForInputVectorTab()"  *ngIf="selectedMetric == 'apsc'">Calculate APSC for your prioritization</button>
                <button [class.active]="showAPFDForInputVectorContentTab" (click)="initAPFDForInputVectorTab()"  *ngIf="selectedMetric == 'apbc'">Calculate APBC for your prioritization</button>
            </div>


            <div *ngIf="fileUploaded">
                <div [hidden]="!showFullMatrixContentTab" class="content">
                    <div>
                        <div> <span> Total number of tests: </span> {{faultMatrix.numberOfTests}} </div>
                        <div> <span> Total number of faults: </span> {{faultMatrix.numberOfFaults}} </div>
                        <div> <span> Fault matrix: </span> </div>
                        <div>
                            <table>
                                <tr *ngFor = "let item of faultMatrix.data">
                                    <td *ngFor = "let subitem of item"> {{ subitem}} </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
                <div [hidden]="!showBestIndividualContentTab" class="content">
                    <div>
                        <span class="bold" *ngIf="selectedMetric == 'apfd'"> APFD: </span>
                        <span class="bold" *ngIf="selectedMetric == 'apsc'"> APSC: </span>
                        <span class="bold" *ngIf="selectedMetric == 'apbc'"> APBC: </span>
                        {{bestIndividual.fitness}}
                        <br>
                        <br>
                        <span class="bold"> The solution vector: </span>
                        <span *ngFor="let data of bestIndividual.genes">
                    {{data}}
                    </span>
                    </div>
                    <div>
                        <canvas #canvas id="canvas0">{{ bestIndividual.chart }}</canvas>
                    </div>
                </div>
                <div [hidden]="!showBestThreeIndividualsContentTab" class="content">
                    <div>
                        <div *ngFor="let data of bestThreeIndividuals; let i = index">
                            <span class="bold" *ngIf="selectedMetric == 'apfd'"> APFD: </span>
                            <span class="bold" *ngIf="selectedMetric == 'apsc'"> APSC: </span>
                            <span class="bold" *ngIf="selectedMetric == 'apbc'"> APBC: </span>
                            {{data.fitness}}
                            <br>
                            <span class="bold"> Solution: </span>
                            <span *ngFor="let ind of data.genes">
                            {{ind}}
                        </span>
                            <br>
                        </div>
                    </div>
                    <div>
                        <canvas #canvas id="canvas1"></canvas>
                    </div>
                    <div>
                        <canvas #canvas id="canvas2"></canvas>
                    </div>
                    <div>
                        <canvas #canvas id="canvas3"></canvas>
                    </div>
                </div>
                <div [hidden]="!showAPFDForInputVectorContentTab" class="content">
                    <div>
                        <h5>Give the arrangements of test cases:</h5>
                        *The numbers should be in the range: [1,{{faultMatrix.numberOfTests}}]
                        <br>
                        <br>
                        <form #formRef="ngForm">
                            <input *ngFor="let ind of arr; let i = index" type="text" class="specialInput"
                                   name="name{{i}}" [(ngModel)]="arri[i]" #name="ngModel" required
                                   (ngModelChange)="onChange($event)">
                            <!--[ngClass]="{'error': (checkIfElementRepeatsInVector(arri[i]) || checkIfElementExceedsRange(arri[i]))}"-->
                        </form>
                        <!--arri {{arri | json}}-->
                        <br>
                        <!--formRef {{formRef | json}}-->

                        <!--<div [ngClass]="{'error': test3(arri[i])}"> test </div>-->
                        <span class="msg" id="errMsg1"> The value repeats. </span>
                        <span class="msg" id="errMsg2"> Out of range </span>
                        <br>
                        <br>
                        <button [hidden]="!formRef.valid" class="btn btn-outline-neutral" id="calculateBtn" (click)="calculateAPFD()"> Calculate AFPD </button>
                        <br>
                        <br>
                        <br>
                        <span *ngIf="apfdInputVector">  <span class="bold"> APFD: </span> {{apfdInputVector}}
                    </span>
                    </div>
                    <div [hidden]="!apfdInputVector">
                        <canvas #canvas id="canvas6"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>