<div class="page-header" style="background-image: url('../assets/img/435296.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <!--<h1>Aledan</h1>-->
            <h3 *ngIf="!fileUploaded">Please select and upload the data file!</h3>
            <br />
            <app-file-upload (fileUploaded)="setFileUploaded($event)"></app-file-upload>

            <br/>
            <div *ngIf="fileUploaded" class="buttons">
            <!--<div class="buttons" (click)="onButtonGroupClick($event)">-->
                <button [class.active]="showFullMatrixContentTab" (click)="getFaultMatrix()">Fault matrix details</button>
                <button [class.active]="showBestIndividualContentTab" (click)="getBestIndividual()">Best solution</button>
                <button [class.active]="showBestThreeIndividualsContentTab" (click)="getBestThreeIndividuals()">Top three solutions</button>
                <button [class.active]="showAPFDForInputVectorContentTab" (click)="initAPFDForInputVectorTab()">Calculate APFD for your prioritization</button>
            </div>


            <div [hidden]="!showFullMatrixContentTab" class="content">
                <div>
                    <div> <span> Total number of tests: </span> {{faultMatrix.numberOfTests}} </div>
                    <div> <span> Total number of faults: </span> {{faultMatrix.numberOfFaults}} </div>
                    <div> <span> Fault matrix: </span> </div>
                    <div>
                        <table>
                            <tr *ngFor = "let item of faultMatrix.data">
                                <td *ngFor = "let subitem of item"> {{ subitem}} </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
            <div [hidden]="!showBestIndividualContentTab" class="content">
                <div>
                    <span class="bold"> APFD: </span> {{bestIndividual.fitness}}
                        <br>
                    <br>
                    <span class="bold"> The solution vector: </span>
                    <span *ngFor="let data of bestIndividual.genes">
                    {{data}}
                    </span>
                </div>
                <div>
                    <canvas #canvas id="canvas0">{{ bestIndividual.chart }}</canvas>
                </div>
            </div>
            <div [hidden]="!showBestThreeIndividualsContentTab" class="content">
                <div>
                    <div *ngFor="let data of bestThreeIndividuals; let i = index">
                        <span> APFD: </span> {{data.fitness}}
                        <br>
                        <span> Solution: </span>
                        <span *ngFor="let ind of data.genes">
                            {{ind}}
                        </span>
                        <br>
                    </div>
                </div>
                <div>
                    <canvas #canvas id="canvas1"></canvas>
                </div>
                <div>
                    <canvas #canvas id="canvas2"></canvas>
                </div>
                <div>
                    <canvas #canvas id="canvas3"></canvas>
                </div>
            </div>
            <div [hidden]="!showAPFDForInputVectorContentTab" class="content">
                <div>
                    Give the arrangements of test cases:
                    <br>
                    <br>
                    <span *ngFor="let ind of arr; let i = index">
                        <input type="text" class="specialInput" [(ngModel)]="arri[i]"
                               [ngClass]="{'error': (checkIfElementRepeatsInVector(arri[i]) || checkIfElementExceedsRange(arri[i]))}">
                    </span>
                    <span class="msg" id="errMsg1"> The value repeats. </span>
                    <br>
                    <br>
                    <button class="btn btn-outline-neutral"(click)="calculateAPFD()"> Calculate AFPD </button>
                    <br>
                    <span *ngIf="apfdInputVector"> APFD: {{apfdInputVector}}
                    </span>
                </div>
                <div [hidden]="!apfdInputVector">
                    <canvas #canvas id="canvas6"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>