<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/hhu.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Test Cases Prioritization Application</h1>
            <h3>Efficiency is doing thing right. Effectiveness is doing the right things.</h3>
            <br />
            <a routerLink="/dashboard" class="btn btn-outline-neutral">Achieve efficiency & effectiveness</a>
            <!--<app-file-upload></app-file-upload>-->
            <!--<button type="button" class="btn btn-outline-neutral btn-round">Download</button>-->
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Let's talk product</h2>
                <h5 class="description">Time is money, especially in programming. Save some, as our product is designed for contributing in the process of deliverying a high-standard software, while using not more resources than needed. As we are an open source project, you are welcomed to come with suggestions and improvements.</h5>
                <br>
                <a href="https://github.com/aletodericiu/test" class="btn btn-danger">Take me to the code</a>
                <br>
                <h3 class="title"> What makes our product great? </h3>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Great visuals</h4>
                        <p class="description">We care about your experience. Using simple design, we want to make you wish to come back.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Continuous improvements</h4>
                        <p>As the IT industry is under steady innovations, we keep up with its changes and adjuste our services to market's requirements.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Graphics</h4>
                        <p>We provide a large variety of graphics illustrating solutions, to make the concepts easier to understand.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Let's talk about us</h2>
        <div class="row">

            <div class="col-md-12">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../assets/img/faces/Untitled.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Todericiu Ioana Alexandra</h4>
                                <h6 class="card-category">Developer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        if (thesisMakesYouScared() == true) <br> {{ '{' }}  <br> thesisMakesYouScared().stop(); <br> findJoyInYourWork().start(); <br>  {{ '}' }}
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://twitter.com/hashtag/testcases" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/ioana-alexandra-todericiu-271045141/?locale=de_DE" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-single-02"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<ngb-alert [type]="alert.type"  [dismissible]="false">-->
    <!--<div class="container">-->
        <!--<ng-container *ngIf="alert.icon">-->
            <!--<i class="nc-icon {{alert.icon}}"></i>-->
        <!--</ng-container>-->

        <!--{{ alert.message }}-->
        <!--<button type="button" name="button" class="close" (click)="closeAlert(alert)">-->
            <!--<i class="nc-icon nc-simple-remove"></i>-->
        <!--</button>-->
    <!--</div>-->
<!--</ngb-alert>-->
