<div class="container">
  <div *ngIf="!fileToUpload" class="btn btn-outline-neutral">
    <label for="chooseFile"> Select file </label>
    <input  type="file" id="chooseFile" (change)="handleFileInput($event.target.files)">
  </div>
  <button *ngIf="fileToUpload" class="btn btn-outline-neutral" (click)="uploadFile()">
    Upload
  </button>

  <div *ngIf="selectedFileName" class="fileName">
    <span> {{ selectedFileName }} </span>
    <i *ngIf="spin" class="fa fa-spinner fa-spin"></i>
    <i *ngIf="uploadSuccessful" class="nc-icon nc-check-2"></i>
  </div>

  <div *ngIf="showFileErrMsg" class="fileName errorMsg"><i class="nc-icon nc-bell-55"></i> Please Select a cool file! </div>
</div>