.container {
  margin-bottom: 40px;

  .fileName {
    display: inline-block;
    padding-left: 20px;

    span {
      padding-right: 5px;
    }
  }

  input {
    display: none;
  }

  label {
    margin-bottom: 0;
    cursor: pointer;
  }

  .errorMsg {
    color: red;
  }

}

.form-group input[type="checkbox"] {
  display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
  width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
  display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
  display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
  display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
  display: none;
}