.container {
  margin-bottom: 40px;

  .fileName {
    display: inline-block;
    padding-left: 20px;

    span {
      padding-right: 5px;
    }
  }

  input {
    display: none;
  }

  label {
    margin-bottom: 0;
    cursor: pointer;
  }

  .errorMsg {
    color: red;
  }
}